---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Link from "../../components/Link.astro";

const name = "Posts";
const description = "A collection of blog posts.";

const posts = (await getCollection("post")).sort(
  (a, b) => b.data.dateCreated.valueOf() - a.data.dateCreated.valueOf()
);
---

<BaseLayout title={name} description={description}>
  <ul>
    {
      posts.map((post: any) => (
        <li>
          <Link to={`/posts/${post.id}`}>{post.data.name}</Link>
        </li>
      ))
    }
  </ul>
</BaseLayout>
