---
import pkg from "../../package.json" with { type: "json" };
---

<footer role="contentinfo">
  <p>{pkg.description}</p>
  <p>
    Yet another <a href={pkg.homepage}>project</a> by <a href={pkg.author.url}
      >{pkg.author.name}</a
    >.
  </p>
</footer>
