---
import Link from "./Link.astro";

const navLinks = [
  { url: "/", title: "Home" },
  { url: "/posts/", title: "Posts" },
];
---

<nav role="navigation">
  <ul>
    {
      navLinks.map(({ url, title }) => (
        <li>
          <Link to={url}>{title}</Link>
        </li>
      ))
    }
  </ul>
</nav>
